<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="350686f6-b30b-49c7-8d2f-85d3de417f44" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="400c3948-2a3a-4864-92c6-80628d4f9720">headerProperties</Composition>
      <Composition Key="c8e44688-c108-4e95-b2a6-9b5391881e19">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5d44eb89-7100-4f20-b418-f141304f5b1f">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6f9fe6b8-a026-484a-80b7-c863fcfe0a3d" SortOrder="0">contentPage</ContentType>
    <ContentType Key="ba35e5df-a33f-42ee-ac76-192f4f861820" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="bd18c823-d085-4e70-9603-11a5e446281a" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>