<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f61aa76-13b9-43ad-bfe0-c9e915538dab" Alias="[Dropdown] Colors" Level="1">
  <Info>
    <Name>[Dropdown] Colors</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Black"
    },
    {
      "id": 2,
      "value": "Red"
    },
    {
      "id": 3,
      "value": "Orange"
    },
    {
      "id": 4,
      "value": "Yellow"
    },
    {
      "id": 5,
      "value": "Green"
    },
    {
      "id": 6,
      "value": "Blue"
    },
    {
      "id": 7,
      "value": "Violet"
    },
    {
      "id": 8,
      "value": "Pink"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>