<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec50a342-686a-4b43-aa6c-76df6b65ac43" Alias="Home Page - Colors - Dropdown (2)" Level="1">
  <Info>
    <Name>Home Page - Colors - Dropdown (2)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "red"
    },
    {
      "id": 2,
      "value": "pink"
    },
    {
      "id": 3,
      "value": "orange"
    },
    {
      "id": 4,
      "value": "green"
    },
    {
      "id": 5,
      "value": "blue"
    },
    {
      "id": 6,
      "value": "lightblue"
    },
    {
      "id": 7,
      "value": "violet"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>