<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f9fe6b8-a026-484a-80b7-c863fcfe0a3d" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6fe4bcad-6da9-4dec-8d2e-337ae4e2fc71">contentProperties</Composition>
      <Composition Key="400c3948-2a3a-4864-92c6-80628d4f9720">headerProperties</Composition>
      <Composition Key="555b0b63-7346-45f4-bfd6-c26e3f19a550">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4621d982-2642-4061-bdad-e752334c7bf7">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>