<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8667d4ee-d604-443e-ab7d-34a4f91cdd1f" Alias="imageLinkItem" Level="4">
  <Info>
    <Name>Image Link Item</Name>
    <Icon>icon-pictures color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="682cf36e-f4ac-4224-a017-c1b4514929a7">descriptionProperty</Composition>
      <Composition Key="8d522328-68f6-4b1e-840b-0ab3b6c2e1e0">imageProperty</Composition>
      <Composition Key="20945c9e-441b-4b31-9d56-6bd827dca3bb">linkProperty</Composition>
      <Composition Key="94cc83cd-144b-4c2e-bbd6-1684a17fd825">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>