<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b89fd2b-e6c1-40b2-9dc1-ba25255a5da7" Alias="[BlockList] Accordion List" Level="1">
  <Info>
    <Name>[BlockList] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2e95415f-b363-4bb8-a98f-a8906a9805b2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != \"\" ? title : 'Accordion Item' + $index}} {{$settings.hide == '1'? '[HIDDEN]' : \"\"}}",
      "settingsElementTypeKey": "f7871d2e-6494-4d9d-ab4b-73be913fd2c2",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>