<?xml version="1.0" encoding="utf-8"?>
<DataType Key="027787d8-d052-4717-bcfb-1160f7bf9eb8" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e1824dc6-858f-48c5-926b-db91a97c5b06",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text ' + $index }} {{ $settings.hide =='1' ? '[HIDDEN]' :\"\"}}",
      "settingsElementTypeKey": "01473506-eee9-4e83-ae05-a115ea9d7aa8",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "fc2d250e-44da-4f76-b51e-b97dd999ca5c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image' + $index }}  {{ $settings.hide =='1' ? '[HIDDEN]' :\"\"}}",
      "settingsElementTypeKey": "bcaf7ecc-f2bd-4833-9db5-7775dc84dfec",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "37667a09-d820-4a87-b0f6-0529f165b15d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != \"\" ? title : 'Featured Items' + $index}} {{$settings.hide == '1'? '[HIDDEN]' : \"\"}}",
      "settingsElementTypeKey": "bcf75bc6-6eaa-4ac1-8160-d353d20cebef",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d1e4b032-be08-40e4-b3a2-abaaaeb504c4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != \"\" ? title : 'Accordion' + $index}} {{$settings.hide == '1'? '[HIDDEN]' : \"\"}}",
      "settingsElementTypeKey": "c14dd3e5-f12d-4bbc-8747-d46a26d7521f",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>