<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9c115d6-9f25-4065-a88c-efcc1394a9fb" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8667d4ee-d604-443e-ab7d-34a4f91cdd1f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != \"\" ? title : 'Image Link' + $index}} {{$settings.hide == '1'? '[HIDDEN]' : \"\"}}",
      "settingsElementTypeKey": "6ec6ec45-c816-41ef-8ad6-204898cbf01d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>