<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd53d5de-7f57-426e-895b-b163f922c12c" Alias="Home Page - Colors - Dropdown" Level="1">
  <Info>
    <Name>Home Page - Colors - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Red"
    },
    {
      "id": 2,
      "value": "Orange"
    },
    {
      "id": 3,
      "value": "Blue"
    },
    {
      "id": 4,
      "value": "Black"
    },
    {
      "id": 5,
      "value": "Green"
    },
    {
      "id": 6,
      "value": "Pink"
    },
    {
      "id": 7,
      "value": "Violet"
    },
    {
      "id": 8,
      "value": "Yellow"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>