<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72ee0b23-c1f2-4a8f-a582-ef96b98b2aab" Alias="Home Page - Colors - Dropdown (3)" Level="1">
  <Info>
    <Name>Home Page - Colors - Dropdown (3)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "red"
    },
    {
      "id": 2,
      "value": "pink"
    },
    {
      "id": 3,
      "value": "black"
    },
    {
      "id": 4,
      "value": "green"
    },
    {
      "id": 5,
      "value": "orange"
    },
    {
      "id": 6,
      "value": "white"
    },
    {
      "id": 7,
      "value": "violet"
    },
    {
      "id": 8,
      "value": "blue"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>