<?xml version="1.0" encoding="utf-8"?>
<Media Key="3048104e-971c-439f-9c0f-d2a7ac93e54f" Alias="Photo 1691669686323 4F72f54e64d5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Photo16916696863234F72f54e64d5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-11T15:41:55</CreateDate>
    <NodeName Default="Photo 1691669686323 4F72f54e64d5" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jaieqma2/photo-1691669686323-4f72f54e64d5.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>