<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f0e7fc5-0a8b-4b0c-96e0-5abe2636b6f2" Alias="About" Level="2">
  <Info>
    <Parent Key="4a7395f5-3577-47d4-a7f0-c68d73574e93">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-11T15:43:06</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4621d982-2642-4061-bdad-e752334c7bf7">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "9e07e76a-79a3-4087-9ffc-010591bd68c1",
    "mediaKey": "3048104e-971c-439f-9c0f-d2a7ac93e54f"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/eb388f4c7cda4a0f98b5c77e4f4b5fd2",
        "settingsUdi": "umb://element/6b08966ef6a54ff29f0660748c5e2730"
      },
      {
        "contentUdi": "umb://element/c00d38331eb8477ba5a306daf1d305d0",
        "settingsUdi": "umb://element/3e2569f0cb6a41daa8ba5b12710c39c5"
      },
      {
        "contentUdi": "umb://element/89b98a1ad10541f8a4af43b180eb9a0c",
        "settingsUdi": "umb://element/38d39bc6d9944c4d871bc5aaa7106965"
      },
      {
        "contentUdi": "umb://element/8a70a0cc54bf4677a48360598b9f7078",
        "settingsUdi": "umb://element/0f36f926b987461b85616276c84e55db"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e1824dc6-858f-48c5-926b-db91a97c5b06",
      "udi": "umb://element/eb388f4c7cda4a0f98b5c77e4f4b5fd2",
      "content": "<p>This is row 1</p>\n<p> </p>"
    },
    {
      "contentTypeKey": "e1824dc6-858f-48c5-926b-db91a97c5b06",
      "udi": "umb://element/89b98a1ad10541f8a4af43b180eb9a0c",
      "content": "<p>This is from row 2!</p>"
    },
    {
      "contentTypeKey": "fc2d250e-44da-4f76-b51e-b97dd999ca5c",
      "udi": "umb://element/8a70a0cc54bf4677a48360598b9f7078",
      "image": "[\r\n  {\r\n    \"key\": \"d607646b-bae5-4cff-b8f4-164911c7312b\",\r\n    \"mediaKey\": \"4b301b45-db6a-46b6-a459-7d53240228c7\"\r\n  }\r\n]",
      "caption": "This is a picture of my frog",
      "link": "[{\"name\":\"Frogs on google\",\"target\":\"_blank\",\"url\":\"https://google.com\",\"queryString\":\"?query=frogs\"}]"
    },
    {
      "contentTypeKey": "fc2d250e-44da-4f76-b51e-b97dd999ca5c",
      "udi": "umb://element/c00d38331eb8477ba5a306daf1d305d0",
      "image": "[\r\n  {\r\n    \"key\": \"18424505-18ae-4966-b755-9df2a5e4353a\",\r\n    \"mediaKey\": \"3048104e-971c-439f-9c0f-d2a7ac93e54f\"\r\n  }\r\n]",
      "link": null
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "01473506-eee9-4e83-ae05-a115ea9d7aa8",
      "udi": "umb://element/6b08966ef6a54ff29f0660748c5e2730",
      "hide": "0"
    },
    {
      "contentTypeKey": "bcaf7ecc-f2bd-4833-9db5-7775dc84dfec",
      "udi": "umb://element/3e2569f0cb6a41daa8ba5b12710c39c5",
      "hide": "0"
    },
    {
      "contentTypeKey": "01473506-eee9-4e83-ae05-a115ea9d7aa8",
      "udi": "umb://element/38d39bc6d9944c4d871bc5aaa7106965"
    },
    {
      "contentTypeKey": "bcaf7ecc-f2bd-4833-9db5-7775dc84dfec",
      "udi": "umb://element/0f36f926b987461b85616276c84e55db"
    }
  ]
}]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[This will tell you all you need to know]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About this Website]]></Value>
    </title>
    <umracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umracoNaviHide>
  </Properties>
</Content>