<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a7395f5-3577-47d4-a7f0-c68d73574e93" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-08-10T12:59:29</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d44eb89-7100-4f20-b418-f141304f5b1f">HomePage</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "565a0f9e-215c-4c3a-be44-a90a57e99c9a",
    "mediaKey": "4b301b45-db6a-46b6-a459-7d53240228c7"
  }
]]]></Value>
    </headerImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/4a7395f5357747d4a7f0c68d73574e93"
  },
  {
    "name": "About",
    "udi": "umb://document/3f0e7fc50a8b4b0c96e05abe2636b6f2"
  },
  {
    "name": "Contact",
    "udi": "umb://document/7a30f4de47544e1f9ee69032130e58a3"
  },
  {
    "name": "Blog",
    "udi": "umb://document/67db304a657a4ea1b7c9baa61c45e90d"
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A blog website for me]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Clean Blog]]></Value>
    </title>
  </Properties>
</Content>