<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b301b45-db6a-46b6-a459-7d53240228c7" Alias="Photo 1559253664 Ca249d4608c6" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Photo1559253664Ca249d4608c6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-10T14:41:49</CreateDate>
    <NodeName Default="Photo 1559253664 Ca249d4608c6" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/imndas1k/photo-1559253664-ca249d4608c6.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>